<div class="row">
  <div class="col-md-12 text-center" style="marginTop: 30px">
	  <button class="btn btn-primary" style="margin: 10px" (click)="loginEvent.emit()">
      Login
    </button>
    <button class="btn btn-primary" style="margin: 10px" (click)="userEvent.emit()">
      Usuário
    </button>
    <button class="btn btn-primary" style="margin: 10px" (click)="groupEvent.emit()">
      Grupo
    </button>
    <button class="btn btn-primary" style="margin: 10px" (click)="permissionEvent.emit()">
      Permissão
    </button>
    <button class="btn btn-primary" style="margin: 10px" (click)="categoryEvent.emit()">
      Categorias
    </button>
    <button class="btn btn-dark" style="margin: 10px" (click)="logoutEvent.emit()">
      Logout
    </button>
  </div>
</div>
